.logo {
  display: inline-block;
  position: relative;
  margin-right: 50px;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  color: var(--red);
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 600px) {
  .logo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo > span {
    display: none;
  }
}
