.wrapper main {
  width: 1200px;
  margin: 100px auto 164px auto; /* Header와 Footer의 height 고려 */

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1280px) {
  .wrapper main {
    width: 844px;
  }
}
@media (max-width: 844px) {
  .wrapper main {
    width: calc(100% - 40px);
  }
}
