.wrapper {
  display: flex;
  flex-direction: column;
}

.infoList {
  width: 100%;
  margin-bottom: 25px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.overview {
  max-height: 100px;
  overflow-y: auto;
}

.button {
  width: 200px;
  padding: 10px 25px;
  margin-top: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 1.1rem;
  border-radius: 5px;
  background: var(--red);
  color: var(--white);

  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.05);
  }
}
