/* ButtonMyList.module.css */
.floatingButton {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 20px;
  right: 20px;

  border-radius: 50%;
  background-color: var(--red);
  color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
}

.floatingButton:hover {
  transform: scale(1.1);
}

.floatingPanel {
  width: calc(100vw - 120px);
  padding: 20px;

  position: fixed;
  bottom: 10px;
  right: 100px;

  background-color: white;
  opacity: 0.75;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}
