.wrapper {
  width: 100%;
  height: 530px;
  margin-top: 70px;

  position: relative;
  display: flex;
  align-items: center;

  color: var(--white);
  overflow: hidden;
}

.infoSection {
  width: 45%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  z-index: 2;
}
.infoSection::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Content 뒤로 배치 */
  pointer-events: none;
  background: linear-gradient(to left, transparent, var(--background) 100%);
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.infoList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.badge {
  padding: 2px 5px;
  font-size: 0.75rem;
  border-radius: 3px;
  background: var(--gray);
}

.overview {
  max-height: 100px;
  overflow-y: auto;
}

.imageWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;

  background-size: 82%;
  background-repeat: no-repeat;
  background-position: right center;
}

.buttonsList {
  width: 100%;
  display: flex;
  gap: 15px;
}

.button {
  padding: 10px 22px;
  margin-top: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 3px;
  background: var(--white);
  color: var(--background);

  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.05);
  }
}
.button svg {
  margin-bottom: 3px;
}
.button.info {
  background: var(--gray);
  color: var(--white);
  opacity: 0.7;
}
